body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    white-space: nowrap;
}

h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;

}

.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
    transition: 1s background-color;
}

.split{
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}

.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url("https://s13emagst.akamaized.net/products/40685/40684427/images/res_c2aa078b7f246f41ca1b277d3315198b.jpg?width=450&height=450&hash=305F90CC4AE74A2C3C3A43299965C5F5");
    background-size: cover;
}

.split.right{
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url("https://lcdn.altex.ro/resize/media/catalog/product/T/e/2bd48d28d1c32adea0e55139a4e6434a/Telefon_SAMSUNG_Galaxy_S22_5G_128GB_8GB_RAM_Dual_SIM_Phantom_Black_12_.jpg");
    background-size: cover;
}

.active-left .left{
    width: 75%;
}

.active-left .right{
    width: 25%;
}

.active-right .left{
    width: 25%;
}

.active-right .right{
    width: 75%;
}

.left , .right{
    transition: width 2s ease-in-out;
}